.go-lecture-player {
  width: 100%;
}

.toolbar__add {
  display: flex;
  padding: 10px;
  justify-content: center;

  button {
    margin-right: 10px;
  }
}

.toolbar__operations {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: #1b106b;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 0px #080040;

  button {
    margin-right: 10px;
    background: #3b35b4;

    &:hover,
    &:focus {
      background: darken(#3b35b4, 10);
    }
  }
}

.slide__text__editor {
  h1,
  h2,
  h3,
  h4 {
    color: #000;
  }
  color: #000;
}

.block {
  position: relative;
  display: flex;
  margin: 20px;
  background: #342ea2;
  padding: 20px;

  > div:first-child {
    width: 100%;
  }

  &__buttons {
    margin-left: 30px;

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}